In this part of the assessment, you will act as a Data analyst to answer a research question on the US elections

In [ ]:
# loading sql extensioN
%load_ext sql

# connecting to the memory sqlite database
%sql sqlite://

'Connected: @None'

In [ ]:
# importing python 
#
import pandas as pd

In [ ]:
# from the local csv file, load table 
#
with open('GrandElectors_by_state.csv','r') as f:
  grandel = pd.read_csv(f, index_col=0, encoding='utf-8')

# store table in SQL table for memory sqlite database
#
%sql DROP TABLE if EXISTS grandel;
%sql PERSIST grandel;

 * sqlite://
Done.
 * sqlite://

'Persisted grandel'

In [ ]:
# from local csv file, load table
#
with open('Population_by_state.csv','r') as f:
  popula = pd.read_csv(f, index_col=0, encoding='utf-8')

# store table in an SQL table for memory sqlite database
#
%sql DROP TABLE if EXISTS popula;
%sql PERSIST popula;

 * sqlite://
Done.
 * sqlite://

'Persisted popula'

In [ ]:
# convert all states to uppercase
%%sql
UPDATE grandel SET State = UPPER(State);

 * sqlite://
51 rows affected.

[]

In [ ]:
# joini tables on the state key
%%sql
SELECT grandel.State
FROM grandel INNER JOIN popula
      ON grandel.State = popula.State
ORDER BY grandel.State

 * sqlite://
Done.

[('ALABAMA',),
 ('ALASKA',),
 ('ARIZONA',),
 ('ARKANSAS',),
 ('CALIFORNIA',),
 ('COLORADO',),
 ('CONNECTICUT',),
 ('DELAWARE',),
 ('DISTRICT OF COLUMBIA',),
 ('FLORIDA',),
 ('GEORGIA',),
 ('HAWAII',),
 ('IDAHO',),
 ('ILLINOIS',),
 ('INDIANA',),
 ('IOWA',),
 ('KANSAS',),
 ('KENTUCKY',),
 ('LOUISIANA',),
 ('MAINE',),
 ('MARYLAND',),
 ('MASSACHUSETTS',),
 ('MICHIGAN',),
 ('MINNESOTA',),
 ('MISSISSIPPI',),
 ('MISSOURI',),
 ('MONTANA',),
 ('NEBRASKA',),
 ('NEVADA',),
 ('NEW HAMPSHIRE',),
 ('NEW JERSEY',),
 ('NEW MEXICO',),
 ('NEW YORK',),
 ('NORTH CAROLINA',),
 ('NORTH DAKOTA',),
 ('OHIO',),
 ('OKLAHOMA',),
 ('OREGON',),
 ('PENNSYLVANIA',),
 ('RHODE ISLAND',),
 ('SOUTH CAROLINA',),
 ('SOUTH DAKOTA',),
 ('TENNESSEE',),
 ('TEXAS',),
 ('UTAH',),
 ('VERMONT',),
 ('VIRGINIA',),
 ('WASHINGTON',),
 ('WEST VIRGINIA',),
 ('WISCONSIN',),
 ('WYOMING',)]

In [ ]:
# change name of element
%%sql
UPDATE grandel
SET State = 'DC'
WHERE State = "DISTRICT OF COLUMBIA";

 * sqlite://
1 rows affected.

[]

In [ ]:
# create a new column ratio
%%sql
ALTER TABLE popula
ADD ratio int;

 * sqlite://
Done.

[]

In [ ]:
# Compute the ratio between the number of grand electors and the population. 
#create new column with the ratio.
%%sql
SELECT ratio 
FROM grandel INNER JOIN popula
      ON grandel.State = popula.State
WHERE 
  ratio = (GrandElectors / Population)
  ORDER BY grandel.State DESC;

 * sqlite://
Done.

[]

In [ ]:
#order states by decreasing ratio of Grand Electors per capita. 
#
%%sql
SELECT ratio 
FROM grandel INNER JOIN popula
      ON grandel.State = popula.State
WHERE 
  ratio = (GrandElectors / Population)
  ORDER BY ratio DESC;

 * sqlite://
Done.

[]

In [ ]:
# compute the running total of Grand Electors in the sorted list.
%%sql
SELECT GrandElectors
SUM ("GrandElectors") OVER (ORDER BY 'ratio') AS RunningTotal
FROM grandel INNER JOIN popula
      ON grandel.State = popula.State;

 * sqlite://
(sqlite3.OperationalError) near "(": syntax error
[SQL: SELECT GrandElectors
SUM ("GrandElectors") OVER (ORDER BY 'ratio') AS RunningTotal
FROM grandel INNER JOIN popula
      ON grandel.State = popula.State;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)